<div class="ui vertical stripe segment about">
    <div class="ui text container">
        <h1 class="ui inverted header">
            NOSOTROS
        </h1>
        <h2>Somos un equipo de profesionales que tiene por tarea ayudarlo a prevenir contingencias, así como lograr soluciones oportunas y eficaces.
        </h2>
    </div>
</div>
<div class="ui vertical stripe segment">
    <div class="ui text container us">
        <h3>
            "NO DESEAMOS DARLE UN BUEN SERVICIO, SINO EL MEJOR"
        </h3>
        <p>
            <strong>Rodriguez Consultores &amp; Asociados</strong>, es una agrupación de profesionales calificados que brinda asesoría legal integral
            y personalizada a personas naturales y jurídicas en el ámbito del derecho corporativo, asesoría contable, tributaria
            y financiera e implementación y uso de sistemas de información, con especial énfasis en la gestión y/o planificación
            de proyectos de tecnologías de la información. 
        </p>    
        <p> 
            Conscientes de las necesidades y requerimientos de nuestros clientes,
            les ofrecemos asesoría especializada en materia corporativa, comercial, societaria, tributaria, laboral, civil
            y derecho administrativo. Nuestra experiencia en el sector salud, permite además brindarles asesoría calificada
            en aspectos de carácter regulatorio y de fiscalización sanitaria
        </p>
    </div>
</div>