<div class="ui vertical stripe segment img-back slide">
    <div class="ui text service-item">
        <h1 class="ui inverted header s-title">
            Asesores &amp; Consultores
        </h1>
        <h2>Somos un equipo de profesionales que tiene por tarea ayudarlo a prevenir contingencias, así como lograr soluciones
            oportunas y eficaces, para ello nuestros clientes cuentan con nuestro patrocinio y atención de consultas que
            nos requieran, sin que prime su nivel de complejidad.</h2>
        <button class="ui inverted yellow button">Somos lo que ofrecemos</button>
    </div>
</div>