<div class="ui vertical stripe segment slide">
    <div class="ui text service-item">
        <h1 class="ui inverted header s-title">
            Asesores Legales
        </h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</h2>
        <button class="ui inverted yellow button">Somos lo que ofrecemos</button>
    </div>
</div>