ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

h4 a{
    color: white;
}

.validationMessage{
    color: white;
}

.ui.secondary.pointing.menu{
    border-bottom: none;
}

.ui.large.menu{
    font-size: 1.1710416783772em;
}

.nav {
    display: flex !important;
    flex-direction: row;
}

.nav .logo.item{
    margin-right: 22.2em;
}

.slide{
    background-image: url('../images/home-slide.png') !important;
}

.s-title{
    font-size: 6.4114531891151705em !important;
}

.service-item{
    margin-top: 24.5em;
    margin-bottom: 12.5em;
    margin-left: 14%;
    margin-right: 14%;
    width: 1127px;
}

.service-item .ui.button{
    font-size: 1.9230177275637017em !important;
}

.hidden.menu {
    display: none;
}
.masthead.segment {
    /*min-height: 700px;*/
    padding: 1em 0em;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.about{
    background-image: url('../images/about-us-slide.png') !important;
}

.services .ui.text.container h1.header,
.about .ui.text.container h1.header{
    font-size: 3.6em !important;
    font-weight: bold !important;
    text-align: center;
    margin-top: 1.46em;
}


.services{
    background-image: url('../images/services-slide.png') !important;
}

.img-back{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-color: transparent !important;
    background-position: center center !important;
}
.circle-details{
    background-image: url('../images/services-data.png') !important;
    height: 620px;
}

.circles{
    background: rgb(0, 157, 78) !important;
    border-color: transparent !important;
}

.circle-list{
    margin: -33px auto;
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 40% !important;
}

.circle-item-container{
    width: 200px;
    height: 200px !important;
    display: flex;
    flex-direction: column;
}

.circle-item{
	margin: 0;
	border-radius: 100%;
	border: 2px solid #FFF;
	cursor: pointer;
	color: #FFF;
	padding: 3% 2% 1% 2%;
    margin: 2px 32px;
}

div.content-description{
    font-size: 100%;
    color: white;
    text-transform: capitalize;
    text-align: center;
    line-height: 2.3em;
    font-weight: bold;
}

.circle-item > div.content-icon{
  font-size: 1.375rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: .2em 0;
  height: 100px;
  padding: 15px;
  text-align: center;
}

.circle-item-container button{
    width: 60%;
    margin: 0 auto !important;
}

.all-details > div > p{
    color: white;
}

.services > div > h2{
    text-align: center;
}

div.content-icon i{
    font-size: 69px;
    position:relative;
}
.service-details{
    margin: 20px auto;
}

.service-details li{
    padding-left: 16px;
    color: white;
    font-size: 1.2em;
    line-height: 1.3em;
}

.service-details li::before{
    content: "-"; 
    padding-right: 8px;
    color: white; 
}

.ui.text.container.us h3,
.ui.text.container.us p{
    text-align: center;
}

.ui.text.container.us h3{
    border-bottom: 2px solid rgba(34,36,38,.15);
    border-top: 2px solid rgba(34,36,38,.15);
}

.ui.text.container h2,
.service-item h2 {
    font-size: 1.9238541859054em;
    font-weight: normal;
    color: white;
}
.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}
.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}
.footer.segment {
    padding: 5em 0em;
}
.secondary.pointing.menu .toc.item {
    display: none;
}

.contact{
    background-image: url('../images/contact-background.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center;
}

.contact-info{
    display: flex !important;
    flex-direction: row;
}

.contact-info > div{
    width: 50%
}
.field > label{
    color: white !important;
}

.contact-info > div > h4{
    margin: 5px !important;
    line-height: inherit !important;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    .secondary.pointing.menu .toc.item {
        display: block;
    }
    /*.masthead.segment {
        min-height: 350px;
    }*/
    .nav .logo.item {
        margin-right: 9.2em;    
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}
